{% extends "base.html" %}

{% block body%}

    <!-- About US -->
<section class="page-section bg-white text-white mb-0">
    
		<div class="container">
			<div class="site-title text-center">
				<h3>About Us</h3>
				
			</div>
			<div class="about-inner-section ">	
			    <div class=" ">
				<img src="https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?w=940&h=650&auto=compress&cs=tinysrgb" alt=" " height="350px" align="center">
			</div>
				<div class=" about-inner-column about-center"><br>
					<h4>Online Appointment Syestem Welcomes You! </h4>
					<p>Takenpossession of lorem Ipsum is simply dummy text of the printing and typesetting industry In sit amet sapien eros Integer  in tincidunt labore et dolore magna aliqua  remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
					<ul>
						<li><a href="#">Donec ut quam lscele volutri.</a></li>
						<li><a href="#">Etiam volutpatbh quam bortis</a></li>
						<li><a href="#">Varius fusce vit aeblandit.</a></li>
					</ul>
				</div>
				
				<div class="clearfix"> </div>
			</div>
		</div>
    
</section>

    {% endblock body%}