
{% extends "base.html" %}
{% load static %}
{% block body%}

<section class="our-webcoderskull padding-lg">
    <div class="container">
      <div class="row heading heading-icon">
          <h2>Our Tutors</h2>
      </div>
      <ul class="row">
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="{% static "images/cabin.png" %}" class="img-responsive" alt=""></figure>
              <h3><a href="#">Web coder skull</a></h3>
              <p>Freelance Web Developer</p>
              
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="{% static "images/cabin.png" %}" class="img-responsive" alt=""></figure>
              <h3><a href="#">Kappua </a></h3>
              <p>Freelance Web Developer</p>
             
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="{% static "images/cabin.png" %}" class="img-responsive" alt=""></figure>
              <h3><a href="#">Manish </a></h3>
              <p>Freelance Web Developer</p>
             
            </div>
         </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="{% static "images/cabin.png" %}" class="img-responsive" alt=""></figure>
              <h3><a href="#">Atul </a></h3>
              <p>Freelance Web Developer</p>
              
            </div>
        </li>
      </ul>
    </div>
  </section>


    {% endblock body%}